.container{
    height: 100%;
    width: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counter{
    font-size: 60px;
    color: red;
    margin: 10px 0px;
}

button{
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
}